{% extends "layout.html" %}

{% block title %}
    About Me
{% endblock %}

{% block main %}
    <h2>About the Developer</h2>
    <p>Hello, my name is Joshua Michels. I served in the Marine Corps and currently attend Harvard University. As someone who has applied to college more than once, I am acutely aware of all of the challenges and uncertainties that come with the long and tedious process. That's why I made PrepMe, a site that allows future applicants to organize their applications and see areas in which they can improve them before submitting to schools. I hope you find PrepMe helpful to your application experience.</p>
    <div class="pic-wrapper">
        <img src="/static/about_me.jpg" alt="Joshua Michels in front of a waterfall">
    </div>
        
    <footer class="small text-center text-muted">
    Thanks again for making PrepMe a part of your college application experience - Josh
    </footer>
{% endblock %}