{% extends "layout.html" %}

{% block title %}
    Resume Tips
{% endblock %}

{% block main %}
    <h2>Resume Tips</h2>
    <h5>Many applicants submit resumes to highlight their work experience, accolades, and other out of school involvements. Below is an example resume with some helpful tips.</h4>
    <div class="pic-wrapper">
        <img src="/static/resume_example.jpg" alt="Sample resume">
    </div>
    
    <div class="btn-wrapper">
        <ul>
            <li>Pick a template that is both modest but also somewhat unique; you want your resume to grab the reviewer's attention but not to be too ostentatious</li>
            <li>Make sure the resume fits nicely on a single page. Focus on the things that you devoted the most of your time to</li>
            <li>Don't put anything on your resume that happened before high school, unless it was something that started before and continued throughout, like Boy Scouts</li>
            <li>Provide as much detail as possible about the information on your resume</li>
            <li>Use your resume as a tool to highlight things about yourself that you may not have covered as much as you would like in your application</li>
            <li>Read your resume out loud to enusre everything sounds correct, and ensure there are no spelling or grammatical errors</li>
            <li>Be honest about what you put in your resume. Admissions officers can contact your school officials to verify information about you</li>
        </ul>
    </div>

{% endblock %}
